form{
    width: 100%;
    background-color: aqua;
    text-align: center;
}

body{
    background-color: black;
    width: 100%;
    background-image: url();
}

input{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}